% {mode, max}.
{mode, {rate, 1}}.

{duration, 1}.

{concurrent, 1000}.

{driver, basho_bench_driver_tic_tac_toe}.

{tic_tac_toe_mynode, 'test@chaos-pc'}.
{tic_tac_toe_glnode, 'tic_tac_toe@chaos-pc'}.

{key_generator, {int_to_str, {partitioned_sequential_int, 5000000}}}.

{operations, [{turn, 1}]}.

