{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_tic_tac_toe}.

{tic_tac_toe_cookie, 'tic_tac_toe'}.
{tic_tac_toe_mynode, 'test@chaos-pc'}.
{tic_tac_toe_glnode, 'tic_tac_toe@chaos-pc'}.

{key_generator, {int_to_str, {sequential_int, 5000000}}}.
% {value_generator, {fixed_bin, 10248}}.

{operations, [{create, 1}]}.

